html {
  scroll-behavior: smooth;
}

h1 {
	padding-top: 40px;
}

nav {
  background-color: rgba(255, 255, 255, 0.85)!important;
  border-bottom: solid 1px rgba(0,0,0,.1);
}

/* General section styling*/
section {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px;
  min-height: 800px;
}


/* This is all that badass hero image section*/
.bgimage {
  width:100%;
  height:600px;
  padding: 50px 50px;
  background: url('../images/koala-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgimage h1 {
	color: white;
	text-shadow: 1px 1px #333;
	text-align: center;
	font-weight: bold;
	font-size: 60px;
	
}

.bgimage h2 {
  color: white;
  text-shadow: 1px 1px #333;
  text-align: center;
  font-weight: bold;
}

.bgimage p {
	color: white;
	text-shadow: 1px 1px #333;
	font-size: 18px;
	text-align: center; 
	top-margin: 50%;
}

.bgimage blockquote {
  color: white;
  text-shadow: 1px 1px #333;
  font-size: 40px;
  text-align: center; 
  top-margin: 50%;
}
/* End of hero */


/* Cards section */
.cards {
  background-color: rgba(102, 102, 102, 0.05);
}

.cards .card {
  border-radius:.75rem!important
}

.cards .card-img-top {
  width:80%;
  height:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20;
  padding-right: 20px;
  padding-left: 20px;
}


footer {
  padding-top: 50px;
}