<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Australian Bushfires Webapp</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">HOME</a>
      </nav>

    <!-- </section> -->
    <section class="bgimage-404">
        <div class="container-fluid"></div>
    </section>
<!-- This is the section with cards for the homepage -->
<section class="cards" id="main">
    <div class="container">
      <div class="row">
        <div class="col 12">
          <br>
          <h2> It's easy to navigate this site: </h2>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="card-deck">
    
            <div class="card mb-4">
                <a href="/fire-maps">
                  <img class="card-img-top img-fluid" src="../static/images/fire_maps_icon.svg" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h4 class="card-title">Fire Maps</h4>
                    <p class="card-text">It’s worth mentioning that Australia’s northern savannah regions frequently experience large fires; these fires are very different in scale to the bushfires in the southern regions...<a href="/fire-maps">read more</a></p>
                    <p class="card-text"><small class="text-muted">Last updated April 4, 2020</small></p>
                </div>
            </div>
    
            <div class="card mb-4">
              <a href="/fire-count">
                <img class="card-img-top img-fluid" src="../static/images/fire_count_icon.svg" alt="Card image cap">
              </a>
                <div class="card-body">
                    <h4 class="card-title">Fire Count</h4>
                    <p class="card-text">We have updated this map to include figures for the fires burning in Victoria, South Australia, NSW, Queensland and Western Australia... <a href="/fire-count">read more</a></p>
                    <p class="card-text"><small class="text-muted">Last updated April 5, 2020</small></p>
                </div>
            </div>
    
            <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
            <div class="card mb-4">
              <a href="/impact">
                <img class="card-img-top img-fluid" src="../static/images/impact_icon.svg" alt="Card image cap">
              </a>
                <div class="card-body">
                    <h4 class="card-title">Impact</h4>
                    <p class="card-text">Over 18 million hectares (that's 44,478,969 acres) have burned in the Australian bushfire season 2019–2020 as of mid-January according to reports... <a href="/impact">read more</a></p>
                    <p class="card-text"><small class="text-muted">Last updated April 6, 2020</small></p>
                </div>
            </div>
    
            <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
            <div class="card mb-4">
              <a href="/climate-fails">
                <img class="card-img-top img-fluid" src="../static/images/climate_fails_icon.svg" alt="Card image cap">
              </a>
                <div class="card-body">
                    <h4 class="card-title">Climate Fails</h4>
                    <p class="card-text">We know it’s sometimes hard to explain the link between bushfires and climate change with your family / friends / neighbors / comrades / that one guy on the subway. This should help... <a href="/climate-fails">read more</a></p>
                    <p class="card-text"><small class="text-muted">Last updated 2 min ago</small></p>
                </div>
            </div>
    
            <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
            <div class="card mb-4">
              <a href="/about">
                <img class="card-img-top img-fluid" src="../static/images/about_icon.svg" alt="Card image cap">
              </a>
                <div class="card-body">
                    <h4 class="card-title">About</h4>
                    <p class="card-text">We are super proud of the work / information gathered on this website. Meet the team... <a href="/about">read more</a></p>
                    <p class="card-text"><small class="text-muted">Last updated 1 min ago</small></p>
                </div>
            </div>
            
        </div>
      </div>
    </div>
    </section>
    

</body>

<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="index.html">UT Data Bootcamp</a>
    </div>
</footer>

</html>