<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Australian Bushfires Webapp</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Bootstrap JS files -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<!--  -->

<body>

 <!-- Nav bar -->
 <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="fire-maps">Fire Maps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="fire-count">Fire Count</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="impact">Impact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="climate-fails">Climate Fails</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
      </ul>
    </div>
  </nav>


<section class="header-subpage">
    <br/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
            <h1>About us</h1>
            <p>Bushfires in Australia are a widespread and regular occurrence that have contributed significantly to moulding the nature of the continent over millions of years. Bushfires have killed approximately 800 people in Australia since 1851, and billions of animals. The purpose of this project is to dig deeper into the roots of current and historical bushfires in Australia and present our findings and analysis results in the form of a web based Flask app with routes for - bushfire locations, current and historical fire counts, impact caused by bushfires and climate and greenhouse gases's role in causing the bushfires.<br>
            Meet the proud team!!<p>
            </div> 
        </div>
    </div>
    </section>
    
    <hr>


<!-- Bios section -->
<section class="bios">

<div class="container-fluid">
    <div class="row">
        <a href="https://www.linkedin.com/in/austin-spacek-841063191/" target="_blank">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img class="card-img" src="{{ url_for('static', filename='images/austin.png') }}" alt="Austin Spacek">
        </a>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
            <h3>Austin Spacek</h3>
            <br>
            <p>A recent Texas A&M graduate with a B.S. in political science. He has experience in geopolitical analysis and elections forecasting/analysis. On this project, his role was to work on the front and back end to create a robust plotly visualization with global fire data from NASA. His goal is to continue working on projects and learning from field experts to advance his career in data analytics and data science.</p>
        </div>
    </div>
</div>
<br>
<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
            <br>
            <h3>David Altuve</h3>
            <br>
            <p>Nerdy extrovert that gets a kick out of working in tech. Born & raised in Venezuela but have spent most of his adult life in the US. International marketer by day, musician by night. CrossFitter if time allows. It’s 5 o’clock somewhere so cheers to you!</p>
        </div>
        <a href="https://www.linkedin.com/in/jdaltuve/" target="_blank">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img class="card-img" src="{{ url_for('static', filename='images/david.png') }}" alt="David Altuve">
        </a>
        </div>
    </div>
</div> 
<br>
<hr>


<div class="container-fluid">
    <div class="row">
        <a href="https://www.linkedin.com/in/catherinegomes/" target="_blank">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img class="card-img" src="{{ url_for('static', filename='images/catherine.png') }}" alt="Catherine Gomes">
        </a>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
            <h3>Catherine Gomes</h3>
            <br>
            <p>An analytical professional with experience designing and creating templates for a fast-growing biotech. Her role in the australian-bushfire-central project included backend and front development to visualize the number of fires in Australia over the years. In her free time, she enjoys challenging hikes and experiencing new flavor profiles.</p>
        </div>
    </div>
</div>
<br>
<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
            <br>
            <h3>Claudia Ibarra</h3>
            <br>
            <p>A financial report analyst / 401(k) specialist - likes to balance things out with cooking, happy hours, and kayaking. Born and raised in Texas, answers everyone ending with a ma'am or sir - she's just Southern like that. An aspiring data analyst - loves providiing detail though visualizations.</p>
        </div>
        <a href="https://www.linkedin.com/in/claudia-ibarra-95a441aa/" target="_blank">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img class="card-img" src="{{ url_for('static', filename='images/claudia.png') }}" alt="Claudia Ibarra">
        </a>
        </div>
    </div>
</div> 
<br>
<hr>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="https://www.linkedin.com/in/ektasharma3/" target="_blank">
            <img class="card-img" src="{{ url_for('static', filename='images/ekta.png') }}" alt="Ekta Sharma">
            </a>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
            <h3>Ekta Sharma</h3>
            <br>
            <p>An aspiring data scientist with previous experience in consulting and banking industry - passionate about coding and solving challenging business problems. A novice story teller who loves to wrestle with data and apply machine learning to find stories and solutions but in her spare time, enjoys listening to music, painting, going out for long walks, and spending time with her family.</p>
        </div>
    </div>
</div>
<br>
<hr>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
            <br>
            <h3>James Durnan</h3>
            <br>
            <p>A geologist who moved to Texas from his home state of Wyoming to work in the oil and gas industry. His interests in data analytics began in the last few years and he decided to pursue formal training in the field to better understand data manipulation and management to hopefully gain efficiencies in his everyday work. He has a personal tie to this project, in that he and his family have lived in Australia and were heartbroken to see such a beautiful and unique country be devastated by these fires.</p>
        </div>
        <a href="https://www.linkedin.com/in/james-durnan-306b1a79/" target="_blank">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img class="card-img" src="{{ url_for('static', filename='images/james.png') }}" alt="James Durnan">
        </a>
        </div>
    </div>
</div> 
<br>
<hr>

</section>

</body>

<!-- footer -->
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="index.html">UT Data Bootcamp</a>
    </div>
</footer>

</html>