<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Australian Bushfires Webapp</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="fire-maps">Fire Maps</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="fire-count">Fire Count</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="impact">Impact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="climate-fails">Climate Fails</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid" id="climate_fails">

        <div class="row">
            <div class="col-md-12" id="climate_header">
                <h1>Climate Fails Australia </h1>
                <h4>A visualizations based study showing climate's contribution in causing Australian Bushfires</h4>
                <h6> ** Anomaly data based on a 30 year climatology (1961 - 1990) used by Australian Bureau of Meteorology. </h6>
            </div>
        </div>

        <div class="row" id="buttons">
            <button id="main1-btn" class="btn btn-default">Home - Decile 10</button>
            <button id="main2-btn" class="btn btn-default">Bushfires & Weather</button>
            <button id="main3-btn" class="btn btn-default">Bushfires & Greenhouse Gases</button>
            <button id="max-temp-btn" class="btn btn-default">Max Temperature Anomaly</button>
            <button id="min-temp-btn" class="btn btn-default">Min Temperature Anomaly</button>
            <button id="mean-temp-btn" class="btn btn-default">Mean Temperature Anomaly</button>
            <button id="rain-btn" class="btn btn-default">Annual Rainfall</button>
            <button id="rain-anomaly-btn" class="btn btn-default">Rainfall Anomaly</button>
            <button id="sst-btn" class="btn btn-default">Sea Surface Temperature Anomaly</button>
            <button id="co2-btn" class="btn btn-default">Carbon Dioxide</button>
            <button id="ch4-btn" class="btn btn-default">Methane</button>
            <button id="n2o-btn" class="btn btn-default">Nitrous Oxide</button>
        </div>

        <div class="row" id="climate_first_row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div id="climate_first"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="climate_second_row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Findings</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{{ url_for('static', filename='js/climate_fails.js') }}"></script>
</body>

<!-- begin wwww.htmlcommentbox.com -->
<div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">HTML Comment Box</a> is loading comments...</div>
<link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
<script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24djX4zEE4DBBaYwmJDqyvv1"+"&opts=16862&num=10&ts=1585408487282");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end www.htmlcommentbox.com -->

<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="index.html">UT Data Bootcamp</a>
    </div>
</footer>

</html>