<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Australian Bushfires Webapp</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Jinja2 reference to our css file -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- D3 CDN -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- Plotly CDN -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Bootstrap JS files -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</head>


<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="fire-maps">Fire Maps</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fire-count">Fire Count</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="impact">Impact</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/climate-fails">Climate Fails</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
    </ul>
  </div>
</nav>


<section class="header-subpage">
  <br/>
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
          <h1> Australia vs. the World Fire Maps </h1>
          <p>Curious to know how fires stack up in Australia vs. the rest of the world? Navigate this page to see compatisson maps between fire locations (current and historical) in Australia vs. fire locations in the rest of the world. <a href="#global_plot"> Click to learn more »</a></p>
          </div> 
      </div>
  </div>
</section>

<!-- Banner section-->
<section class="banner1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="banner-title" data-direction="up" data-speed="0.25">Fire Maps</h1>
        <br/>
        <p class="banner-subtitle" data-direction="up" data-speed="0.35">Where the fires are happening</p>
      </div>
        
      </div>
    </div>
</section>

<section class="basic-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2> Australia's Fire Maps</h2>
        <h4>Click on a given year to interact with Australia's map:</h4>
        <br>
        <div align= "center">
        <button id="aus-17" class="btn btn-default">2017</button>
        <button id="aus-18" class="btn btn-default">2018</button>
        <button id="aus-19" class="btn btn-default">2019</button>
        <button id="aus-20" class="btn btn-default">2020</button>
        </div>
        <div id="plot"></div>
      </div>
  </div>
</section>

<hr>

<!-- Global Fires Container -->
<section class="basic-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2> Global Fire Maps</h2>
        <h4>Click on a given year to change the global map:</h4>
        <br>
        <div align = "center">
        <button id="global-2017" class="btn btn-default">Global Fires 2017</button>
        <button id="global-2018" class="btn btn-default">Global Fires 2018</button>
        <button id="global-2019" class="btn btn-default">Global Fires 2019</button>
        <button id="global-2020" class="btn btn-default">Global Fires 2020</button>
        </div>
        <div id="global_plot"></div>
        </div> 
      </div>
    </div>
  </div>
</section>

<script src="{{ url_for('static', filename='js/fire-maps.js') }}"></script>
<script src="{{ url_for('static', filename='js/parallax.js') }}"></script>
</body>

<!-- Footer -->
<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="index.html">UT Data Bootcamp</a>
  </div>
</footer>

</html>