<!doctype html>
<html lang="en">

<!--  NOT TOUCHY TOUCH, just copy/paste -->
<head>
  <meta charset="utf-8">
  <title>Australian Bushfires Webapp</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Jinja2 CSS reference to our css file -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- Only uncomment the following line if you need a reference to our css outside of flask -->
  <!-- <link rel="stylesheet" href="../static/css/style.css"> -->

  <!-- Bootstrap JS files -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
</head>


<!--  -->

<body>
<!-- This is the nav bar. Paste on every page at the top of the body-->
<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="fire-maps">Fire Maps</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="fire-count">Fire Count</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="impact">Impact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="climate-fails">Climate Fails</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
    </ul>
  </div>
</nav>


<!-- Hero Section, mainly for the homepage -->
<section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="font-weight-light">AUS' BUSHFIRE CENTRAL</h1>
        <br/>
        <p class="lead">Distillery austin food truck narwhal before they sold out venmo. Cornhole shabby chic echo park vice scenester.</p>
        <p><a href="#main" class="btn btn-primary btn-large">Learn more »</a></p>
      </div>
        
      </div>
    </div>
</section>


<!-- This is a blank white with double paragraphs and a route item-->
<section class="route-white">
  <br/>
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3> Soon to be a search box rendering elements:</h3>
            </br>
          <!-- <form> -->
              <div class="form-group">
                <ul class="list-group" id="filters">
                  <li class="filter list-group-item">
                    <label for="specie">Enter a Specie Name</label>
                    <input class="form-control" id="datetime" type="text" placeholder="Koala">
                  </li>
                </ul>
              </div>
              <button id="filter-btn" type="button" class="btn btn-default">Filter Table</button>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </container>

  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        
        <!-- <p> {{ data }} <p> -->
        <table class="table table-striped">
          <thead>
            <th scope="col">Category</th>
            <th scope="col">Result</th>
          </thead>
          <tbody>
            <tr>
              <td>
                <p> Thumbnail </p>
              </td>
              <td>
                <img src="{{ data[0]['thumbnail']}}"/>
              </td>
            </tr>
            <tr>
              <td>
                <p> Scientific Name </p>
              </td>
              <td>
                <p> {{ data[0]['scientific_name'] }} </p>
              </td>
            </tr>
             <tr>
              <td>
                <p> Common Name </p>
              </td>
              <td>
                <p> {{ data[0]['common_name'] }} </p>
              </td>
            </tr>
            <tr>
              <td>
                <p> Protected Status </p>
              </td>
              <td>
                <p> {{ data[0]['protected_status'] }} </p>
              </td>
            </tr>    
            <!-- maybe more rows to come... -->
          </tbody>
        </table>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

        <iframe src="{{ data[0]['distribution_map'] }}" width="600" height="400" frameborder="0" style="border:0" allowfullscreen="" scrolling="no"></iframe>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="first">
      </div>

    </div>


  </div> 
</section>

<section>
  <p> {{data}} </p>
</section>

<!-- No touch! -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static', filename='js/impact_script.js') }}"></script>

</body>


<!--  -->


<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="index.html">UT Data Bootcamp</a>
  </div>
</footer>

</html>