<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Australian Bushfires Webapp</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Jinja2 CSS reference to our css file -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- Bootstrap JS files -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.js"></script>

</head>


<!-- Body -->
<body>

<!-- Nav bar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="fire-maps">Fire Maps</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="fire-count">Fire Count</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="impact">Impact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="climate-fails">Climate Fails</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
    </ul>
  </div>
</nav>




<section class="header-subpage">
  <br/>
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
          <h1>Bushfire Impact</h1>
          <p>Details of impacts caused by the Australian bushfires. Based on current data, this page is divided into sections: one for impact on protected wildlife and one for impact on the economy. <a href="#animal-impact"> Click to learn more »</a></p>
          </div> 
      </div>
  </div>
</section>


<!-- Banner section-->
<section class="banner3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="banner-title" data-direction="up" data-speed="0.25">Impact</h1>
        <br/>
        <p class="banner-subtitle" data-direction="up" data-speed="0.35">Animal and economic</p>
      </div>
        
      </div>
    </div>
</section>

<!-- Animal Impact -->
<section class="basic-white" id="animal-impact">
  <br/>
  <div class="container-fluid">
    <h2> Impact on Protected Species</h2>
      <div class="row">
        <div class="col-lg-12">
            </br>
          <!-- <form> -->
              <div class="form-group">
                <ul class="list-group" id="filters">
                  <li class="filter list-group-item">
                    <label for="specie">Enter Common Name, Scientific Name or Taxonomy ID</label>
                    <input class="form-control" id="form" type="text" placeholder="E.g. Koala, Velvet Boronia, Greater Glider, etc.">
                  </li>
                </ul>
              </div>
              <button id="filter-btn" type="button" class="btn btn-default">Filter Results</button>
          <!-- </form> -->
          </div>
        </div>
    </div>

<br>
<br>

<!-- Results fron search bar -->
<div class="container-fluid">
  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="table"></div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="map"></div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="donut"></div>
  </div>
</div> 

</section>

<!-- Kinda a 404 -->
<div class="container" id="roo">
  <div class="row" id="roo-img"></div>
  <br>
  <div class="row" id="roo-text"></div>
</div>

<hr>

<!-- Economic impact section -->
<section class="basic-white">
  <div class="container-fluid">
    <h2>Impact on the Economy</h2>
    <div class="row">
      <div class="col-lg-12 col-md-6 col-sm-6">
        <div id='Historic-Bushfires-Acres-Burned'></div>
        <p class="font-weight-light">The 2019-2020 Australian bushfire seasons was one of the worst on record, in terms of total acres burned, the fires are in the top 6 worst in the history of the country. Nearly 46 million acres were burned resulting in the destruction of many of Australia's state and national parks. </p>
      <br>
      </div>
      <div class="col-lg-12 col-md-6 col-sm-6">
      <div id='Historic-Bushfires-Homes-Lives-Lost'></div>
      <p class="font-weight-light">Historic trends show that bushfire home destruction and loss of human life correlate on nearly every major bushfire event.  The 2019 bushfire season was no exception and ranks very high in regard to total amount of human lives lost and homes destroyed.</p>
      </div>
      <br>
      <div class="col-lg-12 col-md-6 col-sm-6">
      <div id='Historic-Bushfires-GDP'></div>
      <p class="font-weight-light">Australian GDP/Billion US Dollars shows no major disruptions to Australians macro-economy during these large natural disasters.</p>
      </div>
    </div>
  </div>
</section>


<!-- No touch! -->
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static', filename='js/parallax.js') }}"></script>
<script src="{{ url_for('static', filename='js/impact_script.js') }}"></script>
<script src="{{ url_for('static', filename='js/impact_econ_vis33.js') }}"></script>
</body>

<!-- Footer -->
<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="index.html">UT Data Bootcamp</a>
  </div>
</footer>

</html>